@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
 
@*@ViewData["Title"] = Localizer["Back"];*@



<div class="text-center">
    <h1 class="display-4">@Localizer["Header"]</h1>
</div>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
    <a class="navbar-brand" asp-area="" asp-controller="Machines" asp-action="Index">@Localizer["Auto"]</a>
</nav>
